.story {
	@extend .wrap;
	padding: 30px 50px;
	margin-bottom: 130px;
	background: #fff;
	z-index: 2;
	position: relative;
	li {font-size: emCalc(18px); line-height: emCalc(32px);}
}

.vidbox {text-align: center;}

article {
	p{
		font-family: $fontText;
		font-size: 20px;
		line-height: 30px;
	}
	h1 span {
		font-family: $fontText;
		font-size: emCalc(18px, 40px);
		display: block;
		font-style: italic;
		margin-top: emCalc(20px, 16px);
	}
}

.ivana {
	float: left;
	margin-right: 25px;
	position: relative;
	&:hover { .myweb {display: block;} }
	a {
		@extend %thumb;
		display: block;
		outline: none;
		&:hover {
			@include opacity(0.5);
			span {display: block;}
		}
	}
}

span.note {
	@include opacity(0.7);
	font-size: emCalc(14px);
	font-style: italic;
}
