.story {
	@extend .wrap;
	padding: 30px 50px;
	margin-bottom: 130px;
	background: #fff;
	z-index: 2;
	position: relative;
}

article {
	p{
		font-family: $fontText;
		font-size: 20px;
		line-height: 30px;
	}
	h1 span {
		font-family: $fontText;
		font-size: emCalc(18px, 40px);
		display: block;
		font-style: italic;
		margin-top: emCalc(20px, 16px);
	}
}
.aboutme {
	display: none;
	&.show{ display: block; }
}

.ivana {
	float: left;
	margin-right: 25px;
	position: relative;
	&:hover { .myweb {display: block;} }
	a {
		@extend %thumb;
		display: block;
		&:hover {
			@include opacity(0.5);
			span {display: block;}
		}
	}
}
