#mainheader
	background: #f25656
	a
		display: block
		text-align: center
		margin: 0 auto
		color: $color-dark

	h1
		margin: 0
		padding-top: 30px

#mainvideo
	padding: 30px 0
	text-align: center
	position: relative
	background: url("../images/paper-red.png") #f25656 center bottom repeat-x

	h1
		+border-radius(20px)
		top: 230px
		left: 420px
		position: absolute
		z-index: 2
		padding: 30px
		background: rgba(255, 255, 255, 0.8)

.videobox
	z-index: 1
	width: 950px
	height: 537px
	border: solid 5px $color-softdark
	overflow: hidden


#navigation
	background: url("../images/paper-yellow.png") #f2b556 center bottom repeat-x


	ul
		padding: 60px 0
		overflow: hidden

	li
		width: 300px
		float: left
		list-style: none
		margin: 0 0 0 30px
		&:first-child
			margin-left: 0

		a
			display: block
			padding: 30px
			text-align: center
			text-transform: uppercase
			background: $color-softdark
			&:hover
				background: #fff

footer
	color: #747373
	padding-bottom: 50px
	background: #f2de56
	p
		text-align: center
		text-transform: uppercase
		font-size: 12px
		margin: 0
		padding-top: 50px
