@font-face {
	font-family: 'OmronIcon';
		src: url('../fonts/OmronIcon.eot');
		src: url('../fonts/OmronIcon.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/OmronIcon.woff') format('woff'),
				 url('../fonts/OmronIcon.ttf') format('truetype'),
				 url('../fonts/OmronIcon.svg#omroniconregular') format('svg');
	font-weight: normal;
	font-style: normal;
}